.review_box{
    width: 75%;
    padding: 10vw;
    display: flex;
    justify-content: center;
}
.review_text{
    width: 38%;
    margin-right: 2vw;
}
.review_text h2{
    color: var(--1, #2E363E);
    font-family: Montserrat;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
}
.review_text p{
    color: #2E363E;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%; 
}
.foto_style{
    width: 21vw;
    height: 20vw;
    border-radius: 1000px;
    border: 1px solid var(--11, #F2F6FA);
}
.review_box h4{
    color: var(--1, #2E363E);
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
}
.button_style{
    width: 7%;
    height: 1.5em;
    position: relative;
    bottom: 10vw;
    left: 40%;
    border-radius: 10px;
}
